@page "/"
@using Chess.Blazor.Application.Main
@using Chess.Main.GameFactory
@using Chess.Main.GameFactory.Factories


<div class="flex flex-col items-center justify-center select-none">
    <Board game="game">
        <AdditionalOptions>
            <div class="flex gap-0.5">
                FEN <input @bind-value="FEN" class="field-sizing-content min-w-[200px] outline-1 outline-solid" />
                <button @onclick="GetFen" class="cursor-pointer background-sky-500 hover:opacity-75">Get Fen</button> 

            </div> 
            <button @onclick="Apply" class="cursor-pointer hover:opacity-75">Apply</button>
            <button @onclick="Reset" class="background-blue-400 cursor-pointer hover:opacity-75">Reset</button>

        </AdditionalOptions>
    </Board>
</div>




@code {
    private List<Coordinate> availableMoves = [];
    private ClientSideGame game = null!;
    public string? FEN = null;


    protected override void OnInitialized()
    {
        game = new(null);
        game.OnCheck += OnCheck;
        game.OnMate += OnMate;
    }

    public void OnCheck()
    {
        Console.WriteLine("Check");
    }

    public void OnMate()
    {
        Console.WriteLine("Mate");

    }
    public void Apply()
    {
        if (string.IsNullOrEmpty(FEN))
        {
            return;
        }
        game.Board.SetFen(FEN, null);
        StateHasChanged();

    }

    public void Reset()
    {
        game = new(null);
        FEN = game.Board.GetFen();

    }

    public void GetFen()
    {
        FEN = game.Board.GetFen();
    }

   
}