@page "/"
@using Chess.Blazor.Application.Main
@using Chess.Main.GameFactory
@using Chess.Main.GameFactory.Factories


<div class="flex flex-col items-center justify-center select-none">
    <Board game="game"/>
</div>




@code {
    private List<Coordinate> availableMoves = [];
    private ClientSideGame game = null!;


    protected override void OnInitialized()
    {
        game = new(null);
        game.OnCheck += OnCheck;
        game.OnMate += OnMate;
    }

    public void OnCheck()
    {
        Console.WriteLine("Check");
    }

    public void OnMate()
    {
        Console.WriteLine("Mate");

    }

   
}